## [DataFrame 인덱스 다루기]

(1) 모듈 로딩 <hr>

In [2]:
import pandas as pd

(2) 데이터 준비 <hr>

In [3]:
#DataFrame() 함수로 데이터 프레임 변환. 변수 df에 저장.
#dict 타입의 데이터 생성.
exam = {'이름' : [ 'Peter Parker', 'MJ', 'Ned', 'Harry Potter'],

'국어' : [ 100, 94, 95, 32],
'미술' : [ 42, 89, 95, 100],
'수학' : [ 85, 95, 54, 65],
'체육' : [ 100, 90, 43, 100]}

(3) 데이터 저장 <hr>

In [4]:
examDF=pd.DataFrame(exam)

(4) 데이터 확인

In [5]:
examDF

             이름   국어   미술  수학   체육
0  Peter Parker  100   42  85  100
1            MJ   94   89  95   90
2           Ned   95   95  54   43
3  Harry Potter   32  100  65  100

(5) 새로운 인덱스 설정 - 방법 1 : 인덱스 일부 변경 DF.rename()

In [13]:
# 행 인덱스 일부 변경 => {기존인덱스 : 새 인덱스}
# inplace 매개변수/파라미터 => 원본 DataFrame의 변경 여부 결정, ※기본은 원본 변경 안함. (False.)
examDF.rename(index = {0:'★'}, inplace =True) # 원본데이터를 변경하지 않는다. inplace 기본값 False

In [14]:
examDF

             이름   국어   미술  수학   체육
★  Peter Parker  100   42  85  100
1            MJ   94   89  95   90
2           Ned   95   95  54   43
3  Harry Potter   32  100  65  100

In [17]:
# 열 이름 인덱스 일부 변경 => columns={기존인덱스 : 새 인덱스}
examDF.rename(columns ={'체육':'음악'}, inplace = True)

In [21]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '음악'], dtype='object')

(5) 새로운 인덱스 설정 - 방법 2 : 특정 column => 인덱스 :

In [22]:
# 현재 기본 0 ~ ==> 이름 column을 Index로 설정.

In [23]:
examDF.index

Index(['★', 1, 2, 3], dtype='object')

In [38]:
#1개 column을 인덱스로 설정 단, inplace 파라미터가 False이기 때문에 원본 적용 X !!
examDF2 = examDF.set_index('이름')

In [39]:
examDF2.loc['MJ']

국어    94
미술    89
수학    95
음악    90
Name: MJ, dtype: int64

In [41]:
examDF

             이름   국어   미술  수학   음악
★  Peter Parker  100   42  85  100
1            MJ   94   89  95   90
2           Ned   95   95  54   43
3  Harry Potter   32  100  65  100

In [33]:
#2개 column을 인덱스로 설정 단, inplace 파라미터가 False이기 때문에 원본 적용 X !!
#examDF.set_index('이름', '국어') 오류 발생
examDF3 = examDF.set_index(['이름', '국어', '수학']) 
#한개는 안 담아도 되지만 규칙없는 복수의 데이터는 어딘가에 담아야 함. 보통 리스트 이용!

In [44]:
examDF3.index

MultiIndex([('Peter Parker', 100, 85),
            (          'MJ',  94, 95),
            (         'Ned',  95, 54),
            ('Harry Potter',  32, 65)],
           names=['이름', '국어', '수학'])

In [45]:
examDF3

                      미술   음악
이름           국어  수학
Peter Parker 100 85   42  100
MJ           94  95   89   90
Ned          95  54   95   43
Harry Potter 32  65  100  100

In [40]:
examDF3.loc['MJ']

       미술  음악
국어 수학
94 95  89  90

In [43]:
examDF3.loc[('MJ', 94, 95)]

미술    89
음악    90
Name: (MJ, 94, 95), dtype: int64

In [46]:
# examDF3.loc[(94, 95)] #앞에서부터 찾아 들어가기 때문에 행 제목 중 제일 앞에 있는 것을 입력하지 않으면 오류 발생.
# => keyError 발생. '94'로 시작하는 key 없음.

C:\Users\KDP-024\AppData\Local\Temp\ipykernel_4548\2149396373.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  examDF3.loc[(94, 95)] #앞에서부터 찾아 들어가기 때문에 행 제목 중 제일 앞에 있는 것을 입력하지 않으면 오류 발생.

KeyError: 94

- (5) 새로운 인덱스 설정 - 방법 3 :

In [50]:
examDF.set_index('이름', inplace = True) # 원본 적용.

KeyError: "None of ['이름'] are in the columns"

In [54]:
#현재 행 인덱스 ==> columns 추가
df1 = examDF.reset_index() #reset_index는 행에 0, 1, 2, 3... 를 붙이는 것
examDF.reset_index().reset_index().reset_index()

   level_0  index            이름   국어   미술  수학   음악
0        0      0  Peter Parker  100   42  85  100
1        1      1            MJ   94   89  95   90
2        2      2           Ned   95   95  54   43
3        3      3  Harry Potter   32  100  65  100

In [55]:
df1

             이름   국어   미술  수학   음악
0  Peter Parker  100   42  85  100
1            MJ   94   89  95   90
2           Ned   95   95  54   43
3  Harry Potter   32  100  65  100

In [56]:
#현재 행 인덱스를 컬럼에 추가하지 않고 삭제 => drop 파라미터를 True로 설정.
df2 = examDF.reset_index(drop =True)

In [57]:
df2

    국어   미술  수학   음악
0  100   42  85  100
1   94   89  95   90
2   95   95  54   43
3   32  100  65  100