## [Series 데이터 연산 ]

(1) 모듈로딩 <hr>

In [47]:
import pandas as pd
import numpy as np               # import math as m ===> m.nan

(2) 데이터 준비<hr>

In [48]:
#data =[5, 7, np.nan, 9, 11] 
data =[5, 7, 'a', 9, 11]

(3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [49]:
sr = pd.Series(data)

(4) 데이터 확인

In [50]:
sr.describe()

count     4.000000
mean      8.000000
std       2.581989
min       5.000000
25%       6.500000
50%       8.000000
75%       9.500000
max      11.000000
dtype: float64

In [51]:
sr.index, sr.shape, sr.ndim, sr.dtype, sr.size

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'), 5)

In [52]:
sr.values

array([ 5.,  7., nan,  9., 11.])

(5) 연산 수행 -=> Series 객체 -  연산자 -  숫자

In [94]:
sr.is_unique

True

In [53]:
sr+ 5 # 값에 각각 5를 더해줌.

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [54]:
sr-5 #각 값에 5를 빼줌

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [55]:
sr*5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [56]:
sr/5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [57]:
sr//5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [58]:
sr%5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [59]:
sr**5

0      3125.0
1     16807.0
2         NaN
3     59049.0
4    161051.0
dtype: float64

In [60]:
sr> 5  # 비교연산자도 가능

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [61]:
#sr > 5 and sr<10 #and 연산자 불가능

In [62]:
#(sr > 5) and (sr < 10)

- 논리연산 => & : and 연산, | : or 연산, ~ : not 연산

In [63]:
(sr > 5) & (sr < 10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [64]:
(sr > 5) | (sr < 10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [65]:
~(sr == 5) | ~(sr == 10)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [66]:
print(~(sr>5), sr>5, sep ='\n\n')

0     True
1    False
2     True
3    False
4    False
dtype: bool

0    False
1     True
2    False
3     True
4     True
dtype: bool

(5) 연산 수행 => Series 객체 + Series 객체

In [67]:
data2 = [2, 4, 6, 8, 9]
sr2 = pd.Series(data2)

In [68]:
sr+sr2 # 같은 인덱스끼리 더함.

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

In [69]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr%sr2, sep ="\n\n")

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [70]:
print(sr > sr2, sr < sr2, sep ="\n\n")

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [71]:
sr2.index=[2,3,4,5,6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [72]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr%sr2, sep ="\n\n") 
# 인덱스가 같은 것끼리 처리가 되기 때문에

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0         NaN
1         NaN
2         NaN
3    2.250000
4    1.833333
5         NaN
6         NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    1.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [73]:
sr2.reset_index(drop=True) # 행 인덱스를 버림.

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [74]:
sr2.reset_index() #행 인덱스를 컬럼에 넣고 앞에 있는 인덱스 초기화

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

(5) Series 연산 수행 전용 메서드

In [75]:
sr.add(5)

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [76]:
print(sr.add(5, fill_value = 0), sep ='\n\n') # 공백 인덱스 , NaN 연산 피하기 -> fill_value

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [77]:
print(sr.sub(sr2), sr.sub(sr2, fill_value=0), sep='\n\n')

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0    5.0
1    7.0
2   -2.0
3    5.0
4    5.0
5   -8.0
6   -9.0
dtype: float64

In [109]:
addSR = sr.add(sr2, fill_value = 0)
subSR = sr.sub(sr2, fill_value = 0)
mulSR = sr.mul(sr2, fill_value = 0)
divSR = sr.div(sr2, fill_value = 0)

In [110]:
addSR ,subSR, mulSR, divSR

(0     1.0
 1     6.0
 2     5.0
 3    13.0
 4     6.0
 5     8.0
 6     9.0
 dtype: float64,
 0    1.0
 1    6.0
 2    1.0
 3    5.0
 4   -6.0
 5   -8.0
 6   -9.0
 dtype: float64,
 0     0.0
 1     0.0
 2     6.0
 3    36.0
 4     0.0
 5     0.0
 6     0.0
 dtype: float64,
 0     inf
 1     inf
 2    1.50
 3    2.25
 4    0.00
 5    0.00
 6    0.00
 dtype: float64)

(6) DataFrame 연산 수행

In [80]:
df = pd.DataFrame([addSR, subSR, mulSR, divSR], index=['add', 'sub', 'mul', 'div'])

In [81]:
df

        0     1    2     3     4
add  10.0  12.0  5.0  14.0  16.0
sub   0.0   2.0 -5.0   4.0   6.0
mul  25.0  35.0  0.0  45.0  55.0
div   1.0   1.4  0.0   1.8   2.2

- DataFrame과 숫자 연산 수행.

In [82]:
print(df+5, df-5, sep='\n\n')

        0     1     2     3     4
add  15.0  17.0  10.0  19.0  21.0
sub   5.0   7.0   0.0   9.0  11.0
mul  30.0  40.0   5.0  50.0  60.0
div   6.0   6.4   5.0   6.8   7.2

        0     1     2     3     4
add   5.0   7.0   0.0   9.0  11.0
sub  -5.0  -3.0 -10.0  -1.0   1.0
mul  20.0  30.0  -5.0  40.0  50.0
div  -4.0  -3.6  -5.0  -3.2  -2.8

In [83]:
print(df>5, sep='\n\n')

         0      1      2      3      4
add   True   True  False   True   True
sub  False  False  False  False   True
mul   True   True  False   True   True
div  False  False  False  False  False

- DataFrame과 DataFrame 연산 수행 => 동일 위치에 원소끼리 연산 수행

In [84]:
df2 = df*10
df2

         0      1     2      3      4
add  100.0  120.0  50.0  140.0  160.0
sub    0.0   20.0 -50.0   40.0   60.0
mul  250.0  350.0   0.0  450.0  550.0
div   10.0   14.0   0.0   18.0   22.0

In [85]:
print(df+df2, df*df2, sep ='\n\n')

         0      1     2      3      4
add  110.0  132.0  55.0  154.0  176.0
sub    0.0   22.0 -55.0   44.0   66.0
mul  275.0  385.0   0.0  495.0  605.0
div   11.0   15.4   0.0   19.8   24.2

          0        1      2        3        4
add  1000.0   1440.0  250.0   1960.0   2560.0
sub     0.0     40.0  250.0    160.0    360.0
mul  6250.0  12250.0    0.0  20250.0  30250.0
div    10.0     19.6    0.0     32.4     48.4

In [86]:
df.index, df.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [87]:
df2.index, df2.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [88]:
df2.index=['add', 'minus','mul','/']

In [89]:
print(df+df2, df*df2, sep ='\n\n') #없는 인덱스는 계산할 수 없어서 Nan으로 처리됨.

           0      1     2      3      4
/        NaN    NaN   NaN    NaN    NaN
add    110.0  132.0  55.0  154.0  176.0
div      NaN    NaN   NaN    NaN    NaN
minus    NaN    NaN   NaN    NaN    NaN
mul    275.0  385.0   0.0  495.0  605.0
sub      NaN    NaN   NaN    NaN    NaN

            0        1      2        3        4
/         NaN      NaN    NaN      NaN      NaN
add    1000.0   1440.0  250.0   1960.0   2560.0
div       NaN      NaN    NaN      NaN      NaN
minus     NaN      NaN    NaN      NaN      NaN
mul    6250.0  12250.0    0.0  20250.0  30250.0
sub       NaN      NaN    NaN      NaN      NaN

- 연산 수행 메소드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능
   * fill_value 파라미터에 값 설정.

In [90]:
df.add(df2, fill_value = 0)

           0      1     2      3      4
/       10.0   14.0   0.0   18.0   22.0
add    110.0  132.0  55.0  154.0  176.0
div      1.0    1.4   0.0    1.8    2.2
minus    0.0   20.0 -50.0   40.0   60.0
mul    275.0  385.0   0.0  495.0  605.0
sub      0.0    2.0  -5.0    4.0    6.0

In [91]:
df.add(df2)

           0      1     2      3      4
/        NaN    NaN   NaN    NaN    NaN
add    110.0  132.0  55.0  154.0  176.0
div      NaN    NaN   NaN    NaN    NaN
minus    NaN    NaN   NaN    NaN    NaN
mul    275.0  385.0   0.0  495.0  605.0
sub      NaN    NaN   NaN    NaN    NaN

In [92]:
sr.values

array([ 5.,  7., nan,  9., 11.])

In [95]:
sr.is_unique #요소들의 값을 비교해서 중복값이 있다면 False

True

In [101]:
sr = pd.Series([1, 6, 3, 9])
sr.is_monotonic_increasing #is_monotonic 오류났음...ㅠㅠ

False

In [103]:
sr.head(2) #데이터가 많을 때 유용 (앞에서부터 n만큼 보여준다.)

0    1
1    6
dtype: int64

In [104]:
sr.tail(2) #데이터의 일부분을 볼 때 (뒤에서부터 n만큼 보여준다.)

2    3
3    9
dtype: int64

In [105]:
# nan은 빼고 출력
sr.count

<bound method Series.count of 0    1
1    6
2    3
3    9
dtype: int64>

In [106]:
#sr.sum(skipna=True)

19

In [108]:
sr.sum(skipna=False, numeric_only = False)

19