### [ 다양한 Series 객체 생성 ]

In [10]:
#### (1) 모듈 로딩

In [11]:
import pandas as pd

#### (2) Series 객체 생성 - 방법1
- Series(data, index=지정)

In [12]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'])

In [13]:
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법2

In [14]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법3

In [15]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu', dtype='uint8')

In [16]:
sr1

one      11
two      22
three    33
Name: jumsu, dtype: uint8

#### (2) Series 객체 생성 - 방법4 => 저장되는 데이터 dict

In [18]:
data = {'name' : '홍길동', 'age':12, 'job':'도적'}
sr1 = pd.Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

In [22]:
# 속성확인하기
print(sr1.index, sr1.values, sep = '\n')

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

In [23]:
sr1.index, sr1.values

(Index(['name', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

#### (2) Series 객체 생성 - 방법5 => 저장되는 데이터 set

In [27]:
data = {'홍길동', 12, '도적'} #순서없는 데이터, 중복 불가
#형변환 후에 객체 생성 가능.
sr1 = pd.Series(list(data), index=[1,2,3])
sr1

1    홍길동
2     12
3     도적
dtype: object