# [ DataFrame 살펴보기 ]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료 구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈 로딩----------------------------------------------------------------------------

In [168]:
from pandas import DataFrame

(2) 데이터 준비 --------------------------------------------------------

In [169]:
data = [[11,22, 33], [44, 55, 66], [77, 88, 99]]

(3) DataFrame으로 저장하기 => DataFrame 객체 생성 ------------------------------------

In [170]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 => 객체변수명.속성명--------------------------------------

In [171]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [172]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [173]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [174]:
df1.shape #데이터가 저장된 표의 형태

(3, 3)

In [175]:
# 데이터의 차원정보 n-dimention
df1.ndim

2

In [176]:
#column별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 => 행과 열 지정 ===> 1개의 원소 ------------------------------------------------------------------

- 컬럼 즉 열(column) 읽기 => 객체변수명[인덱스]

In [177]:
df1[0]

0    11
1    44
2    77
Name: 0, dtype: int64

In [178]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [179]:
df1[-1] #ValueError

KeyError: -1

In [180]:
#컬럼변경 =================

In [181]:
df1.columns = ['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [182]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [183]:
df1.A

0    11
1    44
2    77
Name: A, dtype: int64

In [184]:
#df1[0] #columns로 값을 부여하면 0으로는 찾기 불가능.

KeyError: 0

In [ ]:
df1.columns = [0, 1, 2]
Zero = df1

In [ ]:
#column 레이블 설정 후 정수 인덱싱 불가.
df1.0 #str이 아니기 때문에 쓸 수 없음.

In [185]:
#df1[1][1]

KeyError: 1

- 로우 즉 행 (row) 읽기 => 방법 2가지
  * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
  * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [ ]:
df1

In [186]:
df1.index=['one', 'two', 'three']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [187]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64

In [188]:
df1.iloc[0]

A    11
B    22
C    33
Name: one, dtype: int64

In [189]:
zero = df1.iloc[0]
type(zero)

pandas.core.series.Series

(6) 모든 원소를 한번에 한 개씩만 출력

In [190]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [191]:
df1['one'][0]

KeyError: 'one'

In [ ]:
df1[0]['one']

- 객체변수명.iloc[행인덱스, 열인덱스] / 객체변수명.loc[행레이블, 열인덱스 or 열레이블]

In [192]:
df1.iloc[0, 0], df1.iloc[0,1], df1.iloc[0,2]

(11, 22, 33)

In [193]:
df1.loc['one',0],df1.loc['one',1], df1.loc['one',2]

KeyError: 0

In [197]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [198]:
df1.loc['one',0],df1.loc['one',2], df1.loc['two',0], df1.loc['two', 1]

KeyError: 0

In [199]:
df1.columns = ['A', 'B', 'C']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [200]:
df1.loc['one','B'], df1.loc['two', 'C']

(22, 66)

In [201]:
df1.iloc[0,1]

22

In [202]:
zero = df1.iloc[0] #행을 뽑으면 행이름이 name, column명은 행 인덱스로 들어옴

In [203]:
zero

A    11
B    22
C    33
Name: one, dtype: int64

In [204]:
b = df1['B']

In [205]:
b

one      22
two      55
three    88
Name: B, dtype: int64

In [206]:
a, b, c = df1['A'], df1['B'], df1['C']

In [207]:
a
b
c

one      33
two      66
three    99
Name: C, dtype: int64

In [208]:
a

one      11
two      44
three    77
Name: A, dtype: int64

In [209]:
b

one      22
two      55
three    88
Name: B, dtype: int64

In [210]:
c

one      33
two      66
three    99
Name: C, dtype: int64

In [211]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [212]:
df1.shape

(3, 3)

In [213]:
df1.shape[0], df1.shape[1]

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열에 번호

In [214]:
for r in range(df1.shape[0]):
    print(r)
    for c in range(df1.shape[1]):
        print(r,c, df1.iloc[r, c])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66
2
2 0 77
2 1 88
2 2 99

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름 必

In [215]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [216]:
for row in df1.index :
    print(row)

one
two
three

In [217]:
for row in df1.index :
    print(row)
    for col in df1.columns :
        print('---', col, df1.loc[row, col])

one
--- A 11
--- B 22
--- C 33
two
--- A 44
--- B 55
--- C 66
three
--- A 77
--- B 88
--- C 99

#### [문제] : one, three 행을 선택 후 저장

In [218]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64

In [219]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [220]:
df1.index=['one', 'two', 'three']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [221]:
df1.iloc['one']

TypeError: Cannot index by location index with a non-integer key

In [222]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64

In [223]:
onethreeDF = df1.loc[['one','three']] #1개 뽑으면 series
type(onethreeDF), onethreeDF #2개 뽑으면 DataFrame

(pandas.core.frame.DataFrame,
         A   B   C
 one    11  22  33
 three  77  88  99)

In [224]:
df1.loc[['one']]

      A   B   C
one  11  22  33