### [ Series 객체 원소 인덱싱 & 슬라이싱 ]

(1) 모듈 로딩 =============================================================

In [6]:
from pandas import Series

(2) 데이터 준비 --------------------------------------------------------------------------------

In [4]:
datas = {'name' :'홍길동', 'age':12, 'job':'도적'}

(3) 객체 생성 -----------------------------------------------------------------

In [7]:
sr1 =Series(datas)

In [8]:
sr1

name    홍길동
age      12
job      도적
dtype: object

(4) 인덱싱으로 원소 읽기 -------------------------------------------------------

=> 1개 원소 읽기

In [10]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [13]:
# 이름과 직업 데이터 읽기 => 원소 단위
sr1[0], sr1[2], sr1['name'], sr1['job']

('홍길동', '도적', '홍길동', '도적')

In [14]:
a = [1, 2, 3]
b = (11, 22, 33)

In [15]:
a[0], type(a[0])

(1, int)

In [18]:
a[0], type(a), a[:1], type(a[:1])

(1, list, [1], list)

In [23]:
# 이름과 직업 데이터읽기 => 리스트 단위로 읽기
ret = sr1[['name','job']]
ret2 = sr1[[0,2]]
type(ret), ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [24]:
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

(4) 슬라이싱으로 원소 읽기 ---------------------------------------------------

In [28]:
# 위치 인덱스로 슬라이싱
sr1[:2]

name    홍길동
age      12
dtype: object

In [30]:
sr1[:]

name    홍길동
age      12
job      도적
dtype: object

In [31]:
sr1[:-1]

name    홍길동
age      12
dtype: object

(5) 레이블 인덱스로 슬라이싱 ---------------------------------------------------

In [33]:
sr1['name':'job'] #시작<=~<=끝

name    홍길동
age      12
job      도적
dtype: object

In [34]:
sr1['name':'age'] #시작<=~<=끝   == sr1[:2]

name    홍길동
age      12
dtype: object